@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic-ext');
.wrapper
    max-width 1000px
    margin 0 auto
    font-family 'Open Sans', sans-serif
    
    .forms
        display flex
        width 100%
        justify-content space-between
        // flex-wrap: wrap
        
        .form
            // flex 1
            width calc(100% - 100px)
            // width 100px
            display grid
            grid-auto-rows min-content
            
            .row
                // grid-column: 1 / -1;
                // width 100%
                display: grid;
                grid-template-columns:  minmax(100px, max-content) 1fr;

                label 
                    align-self center
    
    input[type="text"], input[type="number"]
        border 1px black solid
        background-color white
        padding 10px 20px
        margin 10px
        
    input[type="submit"], button
        border 1px black solid
        background-color white
        padding 10px 20px
        cursor pointer
        margin 10px
        
    table
        width 100%
        border-spacing 0
        td, th
            border-bottom 1px gray solid
            padding 5px 10px
            
            &:nth-child(n+2)
                border-left 1px #eee solid
        th
            padding 10px